{% extends 'app/base.html'%}
{% load staticfiles%}
{% block content %}
<div class="container page-header hpad">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 cent body">

<h1>   Music Genres </h1>


<ul class="posts ">
{% for i in result%}
<li class="post post-content">
<div class="UpperTitle">

<span><a href="{% url 'edit_genre' i.id %}">{{i.name}}</a></span>

</div>
</li>

{% endfor %}
</br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
   <span class="btn" ></span>
  </div>
  <div class="btn-group" role="group">
   <a href="{% url 'add_genre' %}" style="color:white;"><span class="btn btn-success" > Add a Genre</span></a>
  </div>
       <div class="btn-group" role="group">
   <span class="btn" ></span>
  </div>
</div>


<br>

{% if pagination.has_other_pages %}
  <ul class="pagination">
    {% if pagination.prev %}
      <li><a href="?page={{ pagination.prev }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pagination.total_pages %}
      {% if pagination.current == i %}
        <li class="active"><span>Page {{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">Page {{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination.next %}
      <li><a href="?page={{ pagination.next}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>
</div>

{% endblock %}